<div class="reglas-wrapper py-5">
    <div class="container reglas-container px-4 py-5">
        <h1 class="titulo mb-4">Reglas de la Comunidad</h1>

        <p class="intro mb-4">
            En <strong>ConectaDuoc</strong> creemos en una comunidad estudiantil colaborativa, inclusiva y segura. Para
            garantizar una experiencia positiva para todos los usuarios, te invitamos a respetar los siguientes
            principios de convivencia. El uso de esta plataforma implica la aceptación de estas reglas.
        </p>

        <div class="regla" *ngFor="let item of reglas">
            <h5 class="regla-titulo">{{ item.titulo }}</h5>
            <p class="regla-texto">{{ item.descripcion }}</p>
        </div>

        <div class="final mt-5">
            <p>
                ConectaDuoc es un espacio construido por y para estudiantes. Tu participación responsable y respetuosa
                nos permite fortalecer una red de apoyo mutuo. ¡Gracias por ser parte de esta comunidad!
            </p>
        </div>


        <div class="text-center mt-5">
            <button class="btn btn-amarillo" (click)="aceptarReglas()">Estoy de acuerdo</button>
        </div>

        
    </div>

</div>