@use 'styles' as *;

.footer {
    background-color: $negro;
    font-size: 0.85rem;

    a {
        color: $blanco;
        text-decoration: none;

        &:hover {
            color: $amarillo;
        }
    }

    .icono-social {
        font-size: 1.1rem;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: $amarillo;
        }
    }

    .logo-footer {
        filter: brightness(0) invert(1);
        opacity: 0.85;
        transition: opacity 0.3s;

        &:hover {
            opacity: 1;
        }
    }
}

.footer-creditos {
    font-size: 0.8rem;
    line-height: 1.2;
    color: rgba(255, 255, 255, 0.7);
}