@use 'styles' as *;

.categoria-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 1px solid lighten($gris, 25%);
    background-color: $blanco;
    color: $negro;

    &:hover {
        transform: scale(1.03);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        border-color: $amarillo;
    }

    .card-body {
        padding: 2rem 1rem;
    }

    i {
        color: $amarillo;
    }

    .card-title {
        color: $negro;
    }

    .card-text {
        color: $gris;
    }
}