<div class="container mt-5">
  <h2 class="titulo-modern text-center mb-5">
    <span class="highlight">Participa</span> en la comunidad <strong>DUOC</strong>
  </h2>
  <p class="text-center mb-4">
    Explora las categorías disponibles y únete a la conversación.
    ¡Tu participación es clave para construir una
    comunidad vibrante!
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
    @for (cat of categories; track cat) {
    <div class="col">
      @if (!cat.adminOnly || role === 'admin') {
      <a class="card h-100 text-center text-decoration-none categoria-card" [routerLink]="cat.ruta">
        <div class="card-body">
          <div class="mb-3" style="font-size: 3rem;">
            <i [ngClass]="[cat.icono, cat.colorClass || 'text-warning']"></i>
          </div>
          <h5 class="card-title text-dark">{{ cat.name }}</h5>
          <p class="card-text text-muted">{{ cat.description }}</p>
        </div>
      </a>
      }
    </div>
    }
  </div>
</div>