<nav class="navbar">
    <div class="container d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">
            <img src="assets/logo/logo.png" alt="Logo ConectaDuoc" class="logo">
            <span class="titulo d-none d-md-block">ConectaDuoc</span>
        </div>

        <a class="text-white text-decoration-none me-4" routerLink="/dashboard">
            <i class="fas fa-home me-1"></i> Inicio
        </a>

        <div class="d-flex align-items-center gap-3">
            <span class="usuario">👤 {{ username }}</span>
            <a class="text-white text-decoration-none me-2" routerLink="/dashboard/perfil">
                <i class="fas fa-user-circle me-1"></i> Mi Perfil
            </a>
            <button class="btn btn-sm btn-warning" (click)="logout()">Cerrar sesión</button>
        </div>

    </div>
</nav>