<div class="container mt-4">
    <app-breadcrumb></app-breadcrumb>
    
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="titulo">Trueques Estudiantiles</h2>
        <button class="btn btn-warning fw-bold">
            <i class="fas fa-plus"></i> Ofrecer Trueque
        </button>
    </div>

    <div *ngIf="!publicaciones.length" class="alert alert-info text-center">
        Aún no hay trueques ofertados. Sé el primero en compartir una 💡
    </div>
</div>