@use 'sass:color';
@use 'styles' as *;

.titulo-panel {
    font-size: 2rem;
    font-weight: bold;
    color: $negro;
    position: relative;

    &::after {
        content: '';
        display: block;
        width: 60px;
        height: 4px;
        margin: 8px auto 0;
        background-color: $amarillo;
        border-radius: 2px;
    }
}