<div class="login-container d-flex justify-content-center align-items-center min-vh-100">
  <div class="card login-card shadow">
    <!-- Encabezado con logo -->
    <div class="card-header text-center bg-amarillo">
      <div class="d-inline-block bg-white p-2 rounded-circle shadow-sm">
        <div class="logo-wrapper">
          <img src="assets/logo/logo.png" alt="Logo ConectaDuoc" class="logo mb-1" />
        </div>
      </div>
      <h1 class="titulo mt-2">ConectaDuoc</h1>
    </div>

    <!-- Cuerpo -->
    <div class="card-body text-center">
      <p class="mb-4 text-muted">Plataforma de colaboración estudiantil DUOC UC</p>
      @if (!isLoggedIn) {
        <button class="btn btn-warning w-100" (click)="login()">
          Iniciar Sesión
        </button>
      }
      @if (isLoggedIn) {
        <button class="btn btn-outline-light w-100" (click)="logout()">
          Cerrar Sesión
        </button>
      }
    </div>


    <div class="card-footer text-center text-muted small">
      <p>© 2025 Conecta-DUOC. Todos los derechos reservados.</p>
      <p>Desarrollado por JP DEV</p>
    </div>
  </div>
</div>