@use 'styles' as *;

.titulo {
    color: $negro;
    font-weight: bold;
}

button {
    background-color: $amarillo;
    color: $negro;

    &:hover {
        background-color: color.adjust($amarillo, $lightness: -10%);
    }
}

.ayudantia-card {
    border-left: 4px solid $amarillo;
    transition: transform 0.2s ease;

    &:hover {
        transform: scale(1.015);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    }

    .card-title {
        color: $negro;
        font-weight: bold;
    }

    .card-text {
        color: $gris;
        font-size: 0.95rem;
    }

    .card-footer {
        background-color: $blanco;
        border-top: 1px solid #eee;

        i {
            color: $amarillo;
            margin-right: 4px;
        }
    }
}

.comentarios {
    background-color: #f9f9f9;
    padding: 0.75rem;
    border-top: 1px solid #eee;
}

.foro-lista {
    th {
        font-weight: 600;
        font-size: 0.85rem;
    }

    td {
        padding: 1rem 0.75rem;
        border-bottom: 1px solid #f1f1f1;
    }

    tr:hover {
        background-color: #f9f9f9;
    }

    a {
        transition: color 0.2s ease;

        &:hover {
            color: $amarillo;
        }
    }

    .badge {
        background-color: #fff7e6;
        color: $negro;
        font-weight: 600;
        border: 1px solid #f1e0b5;
        border-radius: 0.75rem;
    }
}

.col-comentarios {
    width: 120px; // o más si deseas
    min-width: 100px;
}