@use 'sass:color';

// Tipos institucionales
$negro: #1A1A1A;
$blanco: #FFFFFF;
$gris: #666666;
$gris-claro: #EEEEEE;
$negro-puro: #000000;
$amarillo: #FFB800;
$azul: #307FE2;
$rojo: #D50032;

// Tipografías
$font-primary: 'Merriweather', serif;
$font-secondary: 'Lato', sans-serif;

// Reset básico
footer {
    flex-shrink: 0;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: $font-secondary;
    color: $negro;
    background-color: $blanco;
}

// Componente root
app-root {
    display: flex;
    flex-direction: column;
    flex: 1;
}